@font-face {
  font-family: ZillaSlabBold;
  src: url(../font/ZillaSlab-Bold.ttf);
}

@font-face {
	font-family: ZillaSlab;
	src: url(../font/ZillaSlab-Regular.ttf);
}

body {
	background-color: #070919;
	color: white;
	line-height: 1.5;
	font-family: ZillaSlab;
	font-size: 1.2rem;
}

h1 {
	font-family: ZillaSlabBold;
	line-height: 1.5;
	font-size: 2rem;
	font-weight: 700;
}

.navbar-profile-pic {
	max-height: 64px;
	margin-left: 1vw;
	margin-right: 5px;
	border-radius: 50%;
}

.navbar {
	background-color: #0D1131;
}

.navbar .navbar-text {
   float: none;
   display: inline-block;
}

#welcome img {
	max-height: 40vh;
}

#about object{
	width: 60px;
	height: 48px;
}

.contact-profile-pic {
	border-radius: 50%;
}

#footer {
	background-color: #0D1131;
	color: #9F98A6;
}